* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    margin: 0 auto;
    max-width: 80vw;
}

.title {
    font-size: 64px;
    line-height: 1.4;
}

.description {
    font-size: 24px;
    line-height: 1.7;
}

.song-link-example {
    margin: 48px 0;
    width: 100%;
}

.form-row {
    display: flex;
    align-items: center;;
}

.form-label {
    margin-right: 16px;
    font-size: 24px;
    line-height: 1.7;
}

.form-input {
    flex: 1 0 auto;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 24px;
    line-height: 1.7;
}

.form-submit {
    padding: 16px 12px;
    border: 2px solid gray;
    border-radius: 4px;
    background: transparent;
    font-size: 24px;
    line-height: 1.7;
}

.result-container {
    width: 100%;
    margin-top: 20px;
}

.result {
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    line-height: 1.7;
    text-align: center;
}

.good {
    background-color: green
}

.bad {
    background-color: red
}

.spreadsheet-link {
    color: white;
}
